:root {
  --accentYellow: #DFC21A;
  --ffMainTitle: 'Nosifer', cursive;
  --ffOtherTitles: 'Metal Mania', cursive;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  margin: 0;
  color: white;
}

// clears margin and padding styling 
body,
h1,
h2,
p,
ul,
div,
section,
img,
header,
footer {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: var(--ffMainTitle);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h2, h3 {
  font-family: var(--ffOtherTitles);
  letter-spacing: 0.2rem;
}

p, select, option, button, li {
  font-size: 2rem;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

//setting up one background for header + main
.background {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
}

img {
  display: block;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 14px 14px 5px 0 white;
}

.imgContainer {
  width: 250px;
  margin: 10px 0 35px;
  align-self: start;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 25vh;
}

main {
  min-height: calc(75vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 30px;
  text-align: center;
  background: var(--accentYellow);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: bold;
    line-height: 1;
  }
}

button {
  border: none;
  border-radius: 1.5rem;
  background-color: var(--accentYellow);
  padding: 12px 25px;
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    background-color: white;
  }
}

select:focus, button:focus {
  box-shadow: 0 0 8px 3px black;
}

.result {
  display: none;
  justify-content: space-around;
}

.resultContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexContainerImgCircle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.htmlToAppend {
  display: none;
}

.flexContainerTop, .flexContainerBottom {
  display: flex;
  align-items: center;
}

.flexContainerTop {
  justify-content: space-around;
  padding-bottom: 18vh;
}

.flexContainerBottom {
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battleButton {
  transform: translateY(4.5rem);
}

.resetButton{
  transform: translateY(-140px)
}

.winnerTitle {
  // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  // height: 300px;
  // width: 300px;
  // background-color: rgba(0, 0, 0, 0.8);
  // border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  p {
    text-align: center;
    text-shadow: 2px 2px 2px white;
    font-size: 2.5rem;
  }
  h3 {
    // border-bottom: 5px solid var(--accentYellow);
    text-shadow: 2px 2px 2px white;
  }
}


//LOADING

.loadingResults {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/balloon2.png), linear-gradient(153deg, rgba(0,0,0,0.8) 0%, rgba(35,35,35,0.9) 100%);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.showInstructions {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


//MEDIA QUERIES

@media (max-width: 1100px) {

  .flexContainerTop {
    justify-content: space-between;
    margin: 0 7%;
  }

  .result1 {
    padding-right: 8rem;
  }
  
  .result2 {
    padding-left: 8rem;
  }
}

@media(max-width:975px){
  .result1 {
    padding-right: 14rem;
  }
  
  .result2 {
    padding-left: 14rem;
  }
}

@media(max-width: 890px){
  .background {
    background-position: 48%;
  }

  .imgContainer {
    width: 200px;
  }
}

@media(max-width: 770px) {
  .background {
    background-image: url('../assets/backgroundMobile.jpg');
    background-position: center;
  }

  header {
    min-height: 240px;
  }

  main {
    min-height: 1100px;
    display: block;
  }
  
  .flexContainerTop {
    margin: 0;
    padding-bottom: 0;
    padding-top: 230px;
    min-height: 631px;
    flex-direction: column;
    justify-content: space-between;
  }

  .flexContainerBottom {
    padding-top: 100px;
  }

  //

  .winnerTitle {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .result{
    flex-direction: column;
  }

  .flexContainerImgCircle {
    flex-direction: row;
    min-width: 320px;
    justify-content: space-between;
  }

  .result1 {
    transform: translateY(-50px);
    padding-right: 0;
  }
  
  .result2{
    padding-left: 0;
    transform: translateY(220px);
  }

  .resetButton{
    transform: translateY(240px);
  }
}

@media(max-width: 530px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  footer {
    height: 50px;
    padding: 5px 0;
    p {
      line-height: 1.3;
    }
  }
}