:root {
  --accentYellow: #DFC21A;
  --ffMainTitle: 'Nosifer', cursive;
  --ffOtherTitles: 'Metal Mania', cursive;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  margin: 0;
  color: white;
}

// clears margin and padding styling 
body,
h1,
h2,
p,
ul,
div,
section,
img,
header,
footer {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: var(--ffMainTitle);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h2, h3 {
  font-family: var(--ffOtherTitles);
  letter-spacing: 0.2rem;
}

p, select, option, button, li {
  font-size: 2rem;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}

//setting up one background for header + main
.background {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
}

img {
  display: block;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 14px 14px 5px 0 white;
}

.imgContainer {
  width: 250px;
  margin: 10px 0 35px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 25vh;
}

main {
  min-height: calc(75vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 30px;
  text-align: center;
  background: var(--accentYellow);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: bold;
    line-height: 1;
  }
}

button {
  border: none;
  border-radius: 1.5rem;
  background-color: var(--accentYellow);
  padding: 12px 25px;
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    background-color: white;
  }

}

select:focus, button:focus {
  box-shadow: 0 0 8px 3px black;
}

.result {
  display: none;
  justify-content: space-around;
}

.htmlToAppend {
  display: none;
}

.flexContainerTop, .flexContainerBottom {
  display: flex;
  align-items: center;
}

.flexContainerTop {
  justify-content: space-around;
  padding-bottom: 18vh;
}

.flexContainerBottom {
  padding-bottom: 6rem;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetButton{
  transform: translateY(-50px)
}

.resultContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.winnerTitle {
  // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  // height: 300px;
  // width: 300px;
  // background-color: rgba(0, 0, 0, 0.8);
  // border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  p {
    text-align: center;
    text-shadow: 2px 2px 2px white;
    font-size: 2.5rem;
  }
  h3 {
    // border-bottom: 5px solid var(--accentYellow);
    text-shadow: 2px 2px 2px white;
  }
}

//drawing the circles
.circleContainer {
  width: 150px;
  height: 150px;
  position: relative;
}

// drawing labels inside the circles
.circleLabel {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

//making it so we can see the inside of the circle
.svgGroup {
  fill: none;
  stroke: none;
}

//the circle that represents 100%
.baseCircle {
  stroke-width: 7px;
  stroke: grey;
}

//this will represent the percentage of the powerstat
.secondCircleHero1, .secondCircleHero2 {
  stroke: white;
  stroke-width: 7px;
  stroke-linecap: round;
}


//LOADING

.loadingResults {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/balloon2.png), linear-gradient(153deg, rgba(0,0,0,0.8) 0%, rgba(35,35,35,0.9) 100%);
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment: fixed;
  // background-size: 90%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.showInstructions {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

//MEDIA QUERIES

@media (max-width: 1100px) {

  .flexContainerTop {
    justify-content: space-between;
    margin: 0 7%;
  }
}

@media(max-width:990px){
  .result {
    justify-content: space-between;
    padding: 0 2rem;
  }
}

@media (max-width: 870px) {
  .background {
    background-position: 48%;
  }

  .flexContainerTop {
    margin: 0 4%;
  }
}

@media(max-width:800px){
  .resetButton{
    transform: translateY(50px)
  }
  .imgContainer {
    width: 200px;
  }
  .circleContainer, .circleLabel  {
    width: 100px;
    height: 100px;
  }
}

@media(max-width: 720px) {
  .background {
    background-image: url('../assets/backgroundMobile.jpg');
    background-position: center;
  }

  main {
    min-height: 130vh;
  }
  
  .flexContainerTop {
    flex-direction: column;
    padding-bottom: 10vh;
  }
  
  // .instructionContainer {
  //   max-width: 420px;
  // }

  .superhero1Container {
    transform: translateY(-40px);
  }

  .superhero2Container {
    transform: translateY(226px);
  }

  .battleContainer {
    transform: translateY(230px);
    padding: 0;
  }

  .battleButton {
    transform: translateY(225px);
  }

  //

  .winnerTitle {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .result{
    flex-direction: column;
  }

  .result2{
    padding-top: 430px;
  }
}

@media(max-width: 530px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  .superhero1Container {
    transform: translateY(-37px);
  }

  .superhero2Container {
    transform: translateY(225px);
  }

  .circleLabel {
    font-size: 2rem;
  }

  footer {
    height: 50px;
    padding: 5px 0;
    p {
      line-height: 1.3;
    }
  }
}

@media(max-width: 422px) {

  // .instructionContainer {
  //   margin-top: 25px;
  //   max-width: 300px;
  // }

  .superhero1Container {
    transform: translateY(-80px);
  }

  .superhero2Container {
    transform: translateY(217px);
  }
}

@media(max-width: 360px) {
  footer {
    height: 50px;
    padding: 5px 0;
    p {
      line-height: 1.3;
    }
  }
}
