html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

:root {
  --accentYellow: #DFC21A;
  --ffMainTitle: 'Nosifer', cursive;
  --ffOtherTitles: 'Metal Mania', cursive;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  margin: 0;
  color: white;
}

body,
h1,
h2,
p,
ul,
div,
section,
img,
header,
footer {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: var(--ffMainTitle);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h2, h3 {
  font-family: var(--ffOtherTitles);
  letter-spacing: 0.2rem;
}

p, select, option, button, li {
  font-size: 2rem;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.background {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
}

img {
  display: block;
  width: 100%;
  border-radius: 2rem;
  -webkit-box-shadow: 14px 14px 5px 0 white;
          box-shadow: 14px 14px 5px 0 white;
}

.imgContainer {
  width: 250px;
  margin: 10px 0 35px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25vh;
}

main {
  min-height: calc(75vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  height: 30px;
  text-align: center;
  background: var(--accentYellow);
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-weight: bold;
  line-height: 1;
}

button {
  border: none;
  border-radius: 1.5rem;
  background-color: var(--accentYellow);
  padding: 12px 25px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

select:focus, button:focus {
  -webkit-box-shadow: 0 0 8px 3px black;
          box-shadow: 0 0 8px 3px black;
}

.result {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.htmlToAppend {
  display: none;
}

.flexContainerTop, .flexContainerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexContainerTop {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 18vh;
}

.flexContainerBottom {
  padding-bottom: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resetButton {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.resultContainer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.winnerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.winnerTitle p {
  text-align: center;
  text-shadow: 2px 2px 2px white;
  font-size: 2.5rem;
}

.winnerTitle h3 {
  text-shadow: 2px 2px 2px white;
}

.circleContainer {
  width: 150px;
  height: 150px;
  position: relative;
}

.circleLabel {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
}

.svgGroup {
  fill: none;
  stroke: none;
}

.baseCircle {
  stroke-width: 7px;
  stroke: grey;
}

.secondCircleHero1, .secondCircleHero2 {
  stroke: white;
  stroke-width: 7px;
  stroke-linecap: round;
}

.loadingResults {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/balloon2.png), linear-gradient(153deg, rgba(0, 0, 0, 0.8) 0%, rgba(35, 35, 35, 0.9) 100%);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.showInstructions {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

@media (max-width: 1100px) {
  .flexContainerTop {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 7%;
  }
}

@media (max-width: 990px) {
  .result {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
  }
}

@media (max-width: 870px) {
  .background {
    background-position: 48%;
  }
  .flexContainerTop {
    margin: 0 4%;
  }
}

@media (max-width: 800px) {
  .resetButton {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .imgContainer {
    width: 200px;
  }
  .circleContainer, .circleLabel {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 720px) {
  .background {
    background-image: url("../assets/backgroundMobile.jpg");
    background-position: center;
  }
  main {
    min-height: 130vh;
  }
  .flexContainerTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10vh;
  }
  .superhero1Container {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .superhero2Container {
    -webkit-transform: translateY(226px);
            transform: translateY(226px);
  }
  .battleContainer {
    -webkit-transform: translateY(230px);
            transform: translateY(230px);
    padding: 0;
  }
  .battleButton {
    -webkit-transform: translateY(225px);
            transform: translateY(225px);
  }
  .winnerTitle {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result2 {
    padding-top: 430px;
  }
}

@media (max-width: 530px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .superhero1Container {
    -webkit-transform: translateY(-37px);
            transform: translateY(-37px);
  }
  .superhero2Container {
    -webkit-transform: translateY(225px);
            transform: translateY(225px);
  }
  .circleLabel {
    font-size: 2rem;
  }
  footer {
    height: 50px;
    padding: 5px 0;
  }
  footer p {
    line-height: 1.3;
  }
}

@media (max-width: 422px) {
  .superhero1Container {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  .superhero2Container {
    -webkit-transform: translateY(217px);
            transform: translateY(217px);
  }
}

@media (max-width: 360px) {
  footer {
    height: 50px;
    padding: 5px 0;
  }
  footer p {
    line-height: 1.3;
  }
}

.instructionModal {
  position: fixed;
  z-index: 70;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 80;
  background-color: white;
  color: black;
  padding: 1rem 4rem;
  width: 35rem;
  height: 40rem;
  border-radius: 1.5rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.instructions li {
  margin-bottom: 2rem;
}

.closeInstructions {
  font-size: 2rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: var(--accentYellow);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.closeInstructions:hover {
  background-color: black;
  color: var(--accentYellow);
}

.showInstructions {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.toggleInstructions {
  padding: 0.6rem;
}

.fas {
  font-size: 3rem;
}
